<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>servlet.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterPatient</servlet-name>
        <servlet-class>servlet.RegisterPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>servlet.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>servlet.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>servlet.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePatient</servlet-name>
        <servlet-class>servlet.UpdatePatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>servlet.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUser</servlet-name>
        <servlet-class>servlet.SearchUser2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serchUser1</servlet-name>
        <servlet-class>servlet.serchUser1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>servlet.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserByNIC</servlet-name>
        <servlet-class>servlet.SearchUserByNIC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserByEmail</servlet-name>
        <servlet-class>servlet.SearchUserByEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserByUserType</servlet-name>
        <servlet-class>servlet.SearchUserByUserType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPatientByGuardianNIC</servlet-name>
        <servlet-class>servlet.SearchPatientByGuardianNIC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPatientByOrganType</servlet-name>
        <servlet-class>servlet.SearchPatientByOrganType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPatientByAge</servlet-name>
        <servlet-class>servlet.SearchPatientByAge</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>servlet.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfPatientByAge</servlet-name>
        <servlet-class>servlet.PdfPatientByAge</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDF</servlet-name>
        <servlet-class>pdf.PDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WordFileWriter</servlet-name>
        <servlet-class>servlet.WordFileWriter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterIx</servlet-name>
        <servlet-class>servlet.EnterIx</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterBGA</servlet-name>
        <servlet-class>servlet.EnterBGA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterPatient</servlet-name>
        <url-pattern>/RegisterPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePatient</servlet-name>
        <url-pattern>/UpdatePatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUser</servlet-name>
        <url-pattern>/SearchUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serchUser1</servlet-name>
        <url-pattern>/serchUser1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserByNIC</servlet-name>
        <url-pattern>/SearchUserByNIC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserByEmail</servlet-name>
        <url-pattern>/SearchUserByEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserByUserType</servlet-name>
        <url-pattern>/SearchUserByUserType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPatientByGuardianNIC</servlet-name>
        <url-pattern>/SearchPatientByGuardianNIC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPatientByOrganType</servlet-name>
        <url-pattern>/SearchPatientByOrganType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPatientByAge</servlet-name>
        <url-pattern>/SearchPatientByAge</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfPatientByAge</servlet-name>
        <url-pattern>/PdfPatientByAge</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDF</servlet-name>
        <url-pattern>/PDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WordFileWriter</servlet-name>
        <url-pattern>/WordFileWriter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterIx</servlet-name>
        <url-pattern>/EnterIx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterBGA</servlet-name>
        <url-pattern>/EnterBGA</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
